# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\PP_2_1_3_SpringBeans-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
